.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

iframe {
    border: none; /* Optional: remove border */
}











<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My GitHub Page</title>
    <style>
        body {
            color: white;
           
        }
    </style>

</html>







body {
    color: white;
}



body {
    color: white;
}

a {
    color: white;
}

body {
    background-color: white ;
}

body {
    background: #474643; /* Fallback color */
    background: url('https://i.ibb.co/CBZgGXh/Screenshot-2024-09-16-194940.png') no-repeat center center fixed;
    background-size: cover;
    color: white; /* Optional: Change text color to white for better contrast */
}
