body {
    color: white;
}



body {
    color: white;
}

a {
    color: white;
}

body {
    background-color: white ;
}

body {
    background: #474643; /* Fallback color */
    background: url('https://i.ibb.co/CBZgGXh/Screenshot-2024-09-16-194940.png') no-repeat center center fixed;
    background-size: cover;
    color: #474643; /* Optional: Change text color to white for better contrast */
}
